.qq{
    background-color: orange;
    width: 770px;
}
.qqq{
margin-top: 4px;
background-color: orange;
width: 710px;
}
.qqqq{
    background-color: orange;
    width: 180px;
    margin-top: 4px;
}
.ee{
    color: blueviolet;
}
.tt{
color: blue;
}
.yy{
    background-color: red;
    width: 320px;
}
.uu{
    color: aquamarine;
}